* {
    border: none;
    font-family: 'Fira Code', 'Symbols Nerd Font Mono';
    font-size: 14px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 0;
  }
  
  window#waybar {
    background: transparent;
  }
  
  #custom-arch, #workspaces {
    border-radius: 10px;
    background-color: #11111b;
    color: #b4befe;
    margin-top: 15px;
    margin-right: 15px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #custom-arch {
    font-size: 20px;
    margin-left: 15px;
    color: #b4befe;
  }
  
  /* #workspaces button {
    background: #11111b;
    color: #b4befe;
  } */
  #workspaces button {
    background-color: @surface3;
    color: #b4befe;
    border-radius: 100%;
    min-height: 14px;
    min-width: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*transition: all 0.5s cubic-bezier(0.33, 1.0, 0.68, 1.0); easeInOutCubic */
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
    box-shadow: rgba(0, 0, 0, 0.288) 1px 1px 2px 1px;
  }
  
  #workspaces button.active {
    color: @surface0;
    border-radius: 1rem;
    padding: 0rem 8px;
    background: radial-gradient(circle, rgba(203, 166, 247, 1) 0%, rgba(193, 168, 247, 1) 12%, rgba(249, 226, 175, 1) 19%, rgba(189, 169, 247, 1) 20%, rgba(182, 171, 247, 1) 24%, rgba(198, 255, 194, 1) 36%, rgba(177, 172, 247, 1) 37%, rgba(170, 173, 248, 1) 48%, rgba(255, 255, 255, 1) 52%, rgba(166, 174, 248, 1) 52%, rgba(160, 175, 248, 1) 59%, rgba(148, 226, 213, 1) 66%, rgba(155, 176, 248, 1) 67%, rgba(152, 177, 248, 1) 68%, rgba(205, 214, 244, 1) 77%, rgba(148, 178, 249, 1) 78%, rgba(144, 179, 250, 1) 82%, rgba(180, 190, 254, 1) 83%, rgba(141, 179, 250, 1) 90%, rgba(137, 180, 250, 1) 100%);
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
  }
  
  #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
    border-radius: 10px;
    background-color: #11111b;
    color: #cdd6f4;
    margin-top: 15px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 15px;
  }
  
  #backlight, #bluetooth {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0
  }
  
  #pulseaudio, #network {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
  }
  
  #clock {
    margin-right: 0;
  }